{% extends 'base.html' %}
{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ecommerce</title>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'message.html' with messages=messages %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cart Total</th>
                <th scope="col">Shipping Total</th>
                <th scope="col">Order total</th>
            </tr>
            </thead>
            <tbody>
            {% if order %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ order.cart.cart_total }}</td>
                    <td>{{ order.order_shipping_total }}</td>
                    <td>{{ order.order_total }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}